<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>船舶北斗定位</title>

    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.0&key=e74bfa8a52be17be2435ebfa02081c79&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    {% block header %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/div_style.css" %}"/>

        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/vue.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/utils.js" %}"></script>
    {% endblock header %}
</head>

<body>

<div id="container" class="container"></div>

<div id="myPageTop">
    <table>
        <thead>
        <tr>
            <td>
                <label>按关键字搜索：</label>
            </td>
            <td class="column2">
                <label>左击获取经纬度：</label>
            </td>
            <td class="column2">
                <label>搜索半径：(米)</label>
            </td>
        </tr>
        </thead>

        <tr>
            <td>
                <input class="form-control" type="text" placeholder="请输入关键字进行搜索" id="tipinput">
            </td>
            <td class="column2">
                <input class="form-control" type="text" id="lnglat">
            </td>
            <td class="column2">
                <input class="form-control" type="text" id="txtRadius" v-model="circleRadius"/>
            </td>
        </tr>
    </table>
</div>

{% block js %}
    {% load static %}
    <script src="{% static "js/map.api.js" %}"></script>
    <script src="{% static "js/ship.js" %}"></script>
    <script src="{% static "js/map.toolbar.js" %}"></script>
{% endblock js %}

<script>
    'use strict';
    var WS_CMD = {'connect': 0, 'area': 1, 'radar': 2};
    var socket;

    function openWebSocket() {
        socket = new WebSocket("ws://" + window.location.host + "/");

        socket.onmessage = function (e) {
            try {
                var jsonObj = JSON.parse(e.data);
                switch (jsonObj.cmd) {
                    case WS_CMD.area:
                        var items = jsonObj.json;
                        for (var i in items) {
                            var item = items[i];
                            addCircle([item.longitude, item.latitude], item.radius, item.id);
                        }
                        checkAllShipInArea();
                        break;
                    case WS_CMD.radar:
                        var items = jsonObj.json;
                        addShipByRadar(items);
                        break;
                    default:
                        break;
                }
            }
            catch
                (ex) {
                console.log("json parse:" + e.data + ",failed:" + ex.toString());
            }
        };
        
        socket.onopen = function () {
            wsSend(WS_CMD.connect, "start new connection", "");
        };
    }

    function wsSend(cmd, msg, json) {
        if (!checkElementIsNone(socket) && socket.readyState == WebSocket.OPEN) {
            var js = {'cmd': cmd, "msg": msg, 'json': json};
            socket.send(JSON.stringify(js));
        }
    }

    var app = new Vue({
        el: '#myPageTop',
        data: {
            circleRadius: 150,
        },
        watch: {
            circleRadius: setRadiusChange,
        }
    });
    openWebSocket();
</script>


{% if not request.user.is_authenticated %}
    <script>
        $('#container').css({"opacity": "0.3"});
        map.setStatus({dragEnable: false});
    </script>

    <div class="container" style="z-index: 10">
        <div class="row clearfix">
            <div class="col-md-4 col-sm-6 column col-sm-offset-2"
                 style="position:absolute;padding: 50px;top: 40%;background-color: #006699; ">
                <form method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="username" name="username" placeholder="请输入名称">
                        </div>
                    </div>

                    <div class="form-group" style="position: relative;top: 10px">
                        <label for="password" class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="password" id="password" name="password" placeholder="密码">
                        </div>
                    </div>
                    <input type="submit" content="提交" style="position:absolute;left: 50%;vertical-align: bottom"/>
                </form>
            </div>
        </div>
    </div>

{% endif %}

</body>

</html>