<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>船舶北方定位</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.0&key=e74bfa8a52be17be2435ebfa02081c79&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    {% block header %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/div_style.css" %}"/>
    {% endblock header %}
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0px;
        }

        #myIcon {
            background: orange;
            width: 20px;
            height: 60px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<img src="/static/images/ship.png" style="visibility: collapse"/>
<div id="container"></div>

<div id="myPageTop">
    <table>
        <tr>
            <td>
                <label>按关键字搜索：</label>
            </td>
            <td class="column2">
                <label>左击获取经纬度：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="请输入关键字进行搜索" id="tipinput">
            </td>
            <td class="column2">
                <input type="text" readonly="true" id="lnglat">
            </td>
        </tr>
    </table>
</div>
<div class='button-group' style="background-color: #0d9bf2;right: 20px">
    <input type="checkbox" onclick="toggleScale(this)"/>比例尺
    <input type="checkbox" id="toolbar" onclick="toggleToolBar(this)"/>工具条
    <input type="checkbox" id="toolbarDirection" disabled onclick="toggleToolBarDirection(this)"/>工具条方向盘
    <input type="checkbox" id="toolbarRuler" disabled onclick="toggleToolBarRuler(this)"/>工具条标尺
    <input type="checkbox" id="overview" onclick="toggleOverViewShow(this)"/>显示鹰眼
    <input type="checkbox" id="overviewOpen" disabled onclick="toggleOverViewOpen(this)"/>展开鹰眼
</div>

{% load static %}
<script>
    map = new AMap.Map("container", {
        resizeEnable: true,
        zoom: 13
    });

    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener = map.on('click', function (e) {
        document.getElementById("lnglat").value = e.lnglat.getLng() + ',' + e.lnglat.getLat()
    });
    map.plugin('AMap.Geolocation', function () {
        var geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            maximumAge: 0,           //定位结果缓存0毫秒，默认：0
            convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            showButton: true,        //显示定位按钮，默认：true
            buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
            showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
            panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
            zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function (status, geoResult) {
            {#                        new AMap.Marker({#}
            {#                            map: map,#}
            {#                            position: geoResult.position,#}
            {#                            icon: new AMap.Icon({#}
            {#                                size: new AMap.Size(40, 50),  //图标大小#}
            {#                                image: "http://webapi.amap.com/theme/v1.3/images/newpc/way_btn2.png",#}
            {#                                imageOffset: new AMap.Pixel(0, -60)#}
            {#                            })#}
            {#                        });#}
            addMarker([geoResult.position.getLng(), geoResult.position.getLat()], 0)
            addMarker([geoResult.position.getLng() + 0.001, geoResult.position.getLat() + 0.001], 1)
            console.log(geoResult.position)
        });
    });


    function addMarker(pos, color) {
        marker = new AMap.Marker({
            icon: color == 0 ? "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png" :
                "http://webapi.amap.com/theme/v1.3/markers/n/mark_r.png",
            position: pos,
            title: "测试"
        });

        marker.setMap(map);
        AMap.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker.getPosition());
        });
    }
    var title = '方恒假日酒店<span style="font-size:11px;color:#F00;">价格:318</span>';
    var content = [];
    content.push("<img src='http://tpc.googlesyndication.com/simgad/5843493769827749134'>地址：北京市朝阳区阜通东大街6号院3号楼东北8.3公里");
    content.push("电话：010-64733333");
    content.push("<a href='http://ditu.amap.com/detail/B000A8URXB?citycode=110105'>详细信息</a>");
    var infoWindow = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title, content.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });

    //构建自定义信息窗体
    function createInfoWindow(title, content) {
        var info = document.createElement("div");
        info.className = "info";

        //可以通过下面的方式修改自定义窗体的宽高
        //info.style.width = "400px";
        // 定义顶部标题
        var top = document.createElement("div");
        var titleD = document.createElement("div");
        var closeX = document.createElement("img");
        top.className = "info-top";
        titleD.innerHTML = title;
        closeX.src = "http://webapi.amap.com/images/close2.gif";
        closeX.onclick = closeInfoWindow;

        top.appendChild(titleD);
        top.appendChild(closeX);
        info.appendChild(top);

        // 定义中部内容
        var middle = document.createElement("div");
        middle.className = "info-middle";
        middle.style.backgroundColor = 'white';
        middle.innerHTML = content;
        info.appendChild(middle);

        // 定义底部内容
        var bottom = document.createElement("div");
        bottom.className = "info-bottom";
        bottom.style.position = 'relative';
        bottom.style.top = '0px';
        bottom.style.margin = '0 auto';
        var sharp = document.createElement("img");
        sharp.src = "http://webapi.amap.com/images/sharp.png";
        bottom.appendChild(sharp);
        info.appendChild(bottom);
        return info;
    }
    //关闭信息窗体
    function closeInfoWindow() {
        map.clearInfoWindow();
    }

    var scale = new AMap.Scale({
        visible: false
    });
    var toolBar = new AMap.ToolBar({
        visible: false
    });
    var overView = new AMap.OverView({
        visible: false
    });

    map.addControl(scale);
    map.addControl(toolBar);
    map.addControl(overView);

    function toggleScale(checkbox) {
        if (checkbox.checked) {
            scale.show();
        } else {
            scale.hide();
        }
    }

    function toggleToolBar(checkbox) {
        if (checkbox.checked) {
            showToolBar();
            showToolBarDirection();
            showToolBarRuler();
        } else {
            hideToolBar();
            hideToolBarDirection();
            hideToolBarRuler();
        }
    }

    function toggleToolBarDirection(checkbox) {
        if (checkbox.checked) {
            toolBar.showDirection()
        } else {
            toolBar.hideDirection()
        }
    }

    function toggleToolBarRuler(checkbox) {
        if (checkbox.checked) {
            toolBar.showRuler();
        } else {
            toolBar.hideRuler();
        }
    }

    function toggleOverViewShow(checkbox) {
        if (checkbox.checked) {
            overView.show();
            document.getElementById('overviewOpen').disabled = false;
        } else {
            overView.hide();
            document.getElementById('overviewOpen').disabled = true;
        }
    }

    function toggleOverViewOpen(checkbox) {
        if (checkbox.checked) {
            overView.open();
        }
        else {
            overView.close();
        }
    }

    function showToolBar() {
        document.getElementById('toolbar').checked = true;
        document.getElementById('toolbarDirection').disabled = false;
        document.getElementById('toolbarRuler').disabled = false;
        toolBar.show();
    }

    function hideToolBar() {
        document.getElementById('toolbar').checked = false;
        document.getElementById('toolbarDirection').disabled = true;
        document.getElementById('toolbarRuler').disabled = true;
        toolBar.hide();
    }

    function showToolBarDirection() {
        document.getElementById('toolbarDirection').checked = true;
        toolBar.showDirection();
    }

    function hideToolBarDirection() {
        document.getElementById('toolbarDirection').checked = false;
        toolBar.hideDirection();
    }

    function showToolBarRuler() {
        document.getElementById('toolbarRuler').checked = true;
        toolBar.showRuler();
    }

    function hideToolBarRuler() {
        document.getElementById('toolbarRuler').checked = false;
        toolBar.hideRuler();
    }

    AMapUI.loadUI((['overlay/AwesomeMarker', 'overlay/SimpleMarker'],
        function (AwesomeMarker, SimpleMarker) {
            var center = map.getCenter();
            new AwesomeMarker({
                //设置awesomeIcon
                awesomeIcon: "ship",
                iconLabel: {
                    style: {
                        color: SimpleMarker.getBuiltInIconStyles()[0],
                        fontSize: '14px'
                    }
                },

                //图标
                iconStyle: SimpleMarker.getBuiltInIconStyles()[0],

                map: map,
                position: center,
                title: 'awesomeIcon :' + "ship"

            });

            {#        new SimpleMarker({#}
            {#            iconLabel: '1',#}
            {#            //自定义图标地址#}
            {#            iconStyle:#}
            {#                {#}
            {#                    src: 'http://fontawesome.io/icon/ship/',#}
            {#                    style: {#}
            {#                        width: '20px',#}
            {#                        height: '30px'#}
            {#                    }#}
            {#                },#}
            {#            //设置基点偏移#}
            {#            offset: new AMap.Pixel(-19, -60),#}
            {#            map: map,#}
            {#            showPositionPoint: true,#}
            {#            position: center,#}
            {#            zIndex: 100#}
        }));

    AMap.plugin(['AMap.ToolBar'], function () {
        map.addControl(new AMap.ToolBar({
            map: map
        }));
    });
</script>
</body>
</html>